.filter_container {
  display: block;

  width: 550px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* .filter_input {
  margin-top: 15px;
  width: 300px;
  font-size: 20px;
  padding: 10px;
} */
